/*!
* @package Boyo
*/
.post {
  padding-bottom: 20px;
  background-color: #f8f8f8;
}

.post .post-thumbnail {
  display: block;
  margin: 0 -20px;
  background-color: #ffffff;
}

.page-header {
  padding: 0 20px;
}

.page-title {
  margin-top: 0;
}

.entry-title {
  margin: 0;
  padding-top: 20px;
  font-size: 23px;
  letter-spacing: .04em;
  line-height: 29px;
}

.entry-title > a {
  color: #1f2023;
  text-decoration: none;
}

.pagination {
  margin: 20px auto;
  padding-bottom: 40px;
}

.nav-links {
  text-align: center;
}

.page-numbers {
  text-decoration: none;
  border: 1px solid #1f2023;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #1f2023;
  background: transparent;
  line-height: 1;
  padding: .4em .8em;
}

.page-numbers.current {
  background-color: #1f2023;
  color: #ffffff;
}

.blog .hentry,
.archive .hentry,
.search .hentry {
  padding-top: 0;
}

.search-no-results .no-results {
  max-width: 720px;
  margin: 0 auto 20px;
}

.search-no-results .no-results .search-form {
  margin: auto;
}

.search-no-results .page-content {
  padding: 40px 20px 80px;
}

.blog .site-main,
.blog .main-navigation,
.archive .site-main,
.archive .main-navigation,
.search .site-main,
.search .main-navigation {
  background-color: #f8f8f8;
}

@media (min-width: 961px) {
  .blog .hentry,
  .archive .hentry,
  .search .hentry {
    padding-top: 80px;
  }
  .blog .site-main,
  .archive .site-main,
  .search .site-main {
    padding-top: 80px;
  }
  .blog .content-area,
  .archive .content-area,
  .search .content-area {
    padding-top: 0;
  }
  .blog .sticky,
  .archive .sticky,
  .search .sticky {
    background-color: #fff;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
  }
  .blog .sticky .entry-title,
  .blog .sticky .entry-meta,
  .archive .sticky .entry-title,
  .archive .sticky .entry-meta,
  .search .sticky .entry-title,
  .search .sticky .entry-meta {
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
  }
  .blog .sticky .entry-title,
  .archive .sticky .entry-title,
  .search .sticky .entry-title {
    text-transform: uppercase;
    margin-top: -30px;
    background-color: transparent;
  }
  .blog .sticky .entry-header,
  .archive .sticky .entry-header,
  .search .sticky .entry-header {
    background-color: #f8f8f8;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 140px;
  }
  .blog .sticky .entry-header-wrapper,
  .blog .sticky .image-wrapper,
  .archive .sticky .entry-header-wrapper,
  .archive .sticky .image-wrapper,
  .search .sticky .entry-header-wrapper,
  .search .sticky .image-wrapper {
    width: 50%;
  }
  .blog .sticky .entry-header-wrapper,
  .archive .sticky .entry-header-wrapper,
  .search .sticky .entry-header-wrapper {
    order: 1;
  }
  .blog .sticky .image-wrapper,
  .archive .sticky .image-wrapper,
  .search .sticky .image-wrapper {
    order: 2;
  }
  .blog .sticky .boyo-intro,
  .archive .sticky .boyo-intro,
  .search .sticky .boyo-intro {
    background-color: #ffffff;
    margin-bottom: -100px;
    margin-top: 80px;
    padding: 20px;
  }
  .blog .sticky .post-thumbnail,
  .archive .sticky .post-thumbnail,
  .search .sticky .post-thumbnail {
    background-color: #ffffff;
    margin-top: -80px;
    padding: 20px;
  }
  .blog .sticky .post-thumbnail figure,
  .archive .sticky .post-thumbnail figure,
  .search .sticky .post-thumbnail figure {
    margin: 0;
  }
}
/*# sourceMappingURL=archive.css.map */