/*!
* @package Boyo
*/
.entry-content {
  padding: 0;
}

.boyo-themes-links,
.boyo-themes-testimonials-list {
  list-style: none;
  margin: 0;
  padding: 0 20px;
}

.boyo-themes-links {
  max-width: 420px;
}

.boyo-themes-testimonials-wrapper {
  padding: 40px 20px;
  background-color: #fff;
}

.boyo-themes-links-item {
  border-top: solid 1px #1f2023;
  font-size: 18px;
  letter-spacing: .045em;
  line-height: 24px;
  padding: 10px 20px;
}

.boyo-themes-theme-details {
  background-color: #ffd73e;
  font-size: 12px;
  letter-spacing: .32em;
  padding: 40px 20px;
  text-align: center;
}

.boyo-themes-theme-details-version,
.boyo-themes-theme-details-last-updated,
.boyo-themes-theme-details-changelog-url {
  display: block;
  line-height: 27px;
}

.boyo-themes-theme-details-changelog-url a {
  border-bottom: solid 2px #1f2023;
  color: #1f2023;
  padding-bottom: 0;
  text-decoration: none;
}

.boyo-themes-links-item a {
  color: #1f2023;
  border-bottom: none;
}

.boyo-themes-sections {
  margin: 0 -20px;
}

.boyo-themes-section {
  padding: 20px 20px 0;
}

.boyo-themes-section-title,
.boyo-themes-section-content {
  margin: 20px;
}

.boyo-themes-section-image {
  margin: 0 -20px;
}

.boyo-themes-testimonials-list {
  margin-left: auto;
  margin-right: auto;
  max-width: 420px;
}

.boyo-themes-testimonials-list-item {
  padding-bottom: 20px;
}

.boyo-themes-testimonials-list-item:first-of-type {
  padding-top: 20px;
}

.boyo-themes-testimonials-list-item-title,
.boyo-themes-testimonials-list-item-desc {
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0.045em;
}

.boyo-themes-testimonials-list-item-author {
  font-size: 15px;
}

.boyo-themes-testimonials-list-item-title,
.boyo-themes-testimonials-list-item-author {
  font-weight: 700;
}

.boyo-themes-changelog h2,
.boyo-themes-changelog h3,
.boyo-themes-changelog ul {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.boyo-themes-changelog h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  letter-spacing: 0.045em;
  line-height: 27px;
  text-transform: uppercase;
}

.boyo-themes-changelog h3 span {
  display: inline-block;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.07em;
  line-height: 19px;
  padding: 8px 12px;
}

.boyo-themes-changelog ul {
  padding-left: 40px;
}

.boyo-themes-changelog-added {
  background-color: #ffd73e;
}

.boyo-themes-changelog-changed {
  background-color: #ffffff;
}

.boyo-themes-changelog-deprecated {
  background-color: #b7b7b7;
}

.boyo-themes-changelog-removed {
  background-color: #ffffff;
}

.boyo-themes-changelog-security {
  background-color: #1f2023;
}

.single-theme .hentry {
  margin: 0;
}

.single-theme .entry-header,
.single-theme .breadcrumbs {
  padding: 0 20px;
}

.single-theme .entry-content {
  background-color: #f8f8f8;
  max-width: none;
  margin-bottom: 20px;
}

.single-theme .boyo-themes-links-box {
  background-color: #ffffff;
}

.single-theme .boyo-themes-sections {
  margin: 0;
}

.page-template-template-page-themes .boyo-intro,
.page-template-template-page-themes .boyo-themes-links-wrapper {
  padding: 0 20px 40px;
}

.page-template-template-page-themes .main-navigation {
  background-color: #edeef4;
}

.page-template-template-page-themes .hentry {
  background-color: #edeef4;
}

.boyo-themes-counter-wrapper {
  overflow: hidden;
  padding: 20px 20px 40px;
}

.boyo-themes-counter {
  padding: 60px 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 1;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.boyo-themes-counter-numbers,
.boyo-themes-counter-text-1,
.boyo-themes-counter-text-2,
.boyo-themes-counter-text-3,
.boyo-themes-counter-text-4 {
  margin: 0 auto;
  max-width: 250px;
  text-align: center;
}

.boyo-themes-counter-numbers,
.boyo-themes-counter-text-2,
.boyo-themes-counter-text-3 {
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.boyo-themes-counter-text-1,
.boyo-themes-counter-text-4 {
  font-family: Arial, Helvetica, sans-serif;
}

.boyo-themes-counter-digit {
  display: inline-block;
  padding: 15px 10px;
  background-color: #ffffff;
  margin: 5px;
  box-shadow: 0 0 10px #b7b7b7;
}

.hexagon {
  margin: auto;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.hexagon,
.hexagon:before,
.hexagon:after {
  height: 440px;
  width: 254px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}

.hexagon:before {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}

.hexagon:after {
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
}

.boyo-themes-themes {
  list-style: none;
  margin-bottom: 40px;
  padding: 0;
}

.boyo-themes-themes a {
  text-decoration: none;
  color: #1f2023;
}

.boyo-themes-themes-item {
  display: block;
  padding: 20px;
}

.boyo-themes-featured {
  background-color: #f8f8f8;
  padding-bottom: 40px;
  padding-top: 40px;
}

.boyo-themes-featured-list {
  list-style: none;
  padding: 0;
}

.boyo-themes-featured-list-item {
  padding: 20px;
}

.boyo-themes-testimonials-title {
  font-size: 40px;
}

.boyo-themes-changelog-wrapper {
  padding: 40px 20px;
}

@media (min-width: 481px) {
  .boyo-themes-featured-list-item-title,
  .boyo-themes-featured-list-item-desc {
    padding: 0 20px;
  }
}

@media (min-width: 601px) {
  .single-theme .boyo-intro {
    padding: 0 20px;
  }
  .single-theme .entry-content-wrapper {
    max-width: 720px;
    margin: auto;
  }
  .boyo-themes-themes {
    display: flex;
  }
  .boyo-themes-themes-item {
    width: 50%;
  }
  .boyo-themes-themes-item:first-of-type {
    padding: 20px 20px 20px 0;
  }
  .boyo-themes-themes-item:last-of-type {
    padding: 20px 0 20px 20px;
  }
  .boyo-themes-featured-list {
    display: flex;
  }
  .boyo-themes-featured-list-item {
    width: 33.33%;
  }
  .boyo-themes-featured-list-item-title,
  .boyo-themes-featured-list-item-desc {
    padding: 0;
  }
}

@media (min-width: 961px) {
  .boyo-themes-featured-list-item-title,
  .boyo-themes-featured-list-item-desc {
    padding: 0 20px;
  }
  .boyo-intro-wrapper {
    width: 50%;
    min-height: 520px;
  }
  .entry-content {
    position: relative;
  }
  .boyo-themes-counter-wrapper {
    position: absolute;
    right: -160px;
    top: -80px;
    width: 100%;
    max-width: 560px;
  }
  .boyo-themes-links-item {
    max-width: 260px;
  }
  .single-theme .entry-header {
    background-color: #f8f8f8;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 140px;
  }
  .single-theme .entry-header-wrapper,
  .single-theme .image-wrapper {
    width: 50%;
  }
  .single-theme .entry-title,
  .single-theme .boyo-themes-subtitle {
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
  }
  .single-theme .entry-title {
    text-transform: uppercase;
    margin-top: -30px;
  }
  .single-theme .boyo-themes-subtitle {
    margin: 40px auto 80px;
    padding: 0;
  }
  .single-theme .boyo-intro {
    background-color: #ffffff;
    margin-bottom: -100px;
    padding: 20px;
  }
  .single-theme .post-thumbnail {
    background-color: #ffffff;
    margin-top: -100px;
    padding: 20px;
  }
  .single-theme .post-thumbnail figure {
    margin: 0;
  }
  .single-theme .entry-content-wrapper {
    max-width: 960px;
  }
  .single-theme .boyo-themes-links-wrapper {
    max-width: 960px;
    margin: auto;
    padding-bottom: 40px;
  }
  .single-theme .boyo-themes-section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .single-theme .boyo-themes-section-content-wrapper,
  .single-theme .boyo-themes-section-image {
    width: 50%;
  }
  .single-theme .boyo-themes-section-content-wrapper {
    display: flex;
    flex-direction: column;
  }
  .single-theme .even .boyo-themes-section-content-wrapper {
    order: 1;
    padding: 100px 40px 40px 0;
  }
  .single-theme .even .boyo-themes-section-image {
    order: 2;
  }
  .single-theme .odd .boyo-themes-section-content-wrapper {
    order: 2;
    padding: 100px 0 40px 40px;
  }
  .single-theme .odd .boyo-themes-section-image {
    order: 1;
  }
}

@media (min-width: 1281px) {
  .single-theme .entry-header,
  .single-theme .entry-content-wrapper {
    max-width: 1200px;
  }
  .single-theme .boyo-themes-links {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
  .boyo-themes-changelog-wrapper h1 {
    padding: 0 20px;
  }
}
/*# sourceMappingURL=theme.css.map */