$sm: '601px';
$md: '961px';
$lg: '1281px';
//$xl: '1281px';

$color_1: #1f2023;
$color_2: #ffffff;
$color_3: #e5e5e5;
$color_4: #b7b7b7;
$color_5: #edeef4;
$color_6: #ffe500;
$color_7: #dfdfdf;
$color_8: #4c4c4c;
$color_9: #f8f8f8;
$color_10: #fef0f0;
$color_11: #1f1f1f;
$color_12: #dedede;
$color_13: #404040;
$color_14: #181818;
$color_15: #ffd73e;
$color_16: #01fde8;
$color_17: #c1e4de;

$font_family_main: Arial, Helvetica, sans-serif;
$font_family_headers: Montserrat , sans-serif;
