/*!
* @package Boyo
*/
@import "variables";
.post {
    padding-bottom: 20px;
    background-color: $color_9;
}

.post .post-thumbnail {
    display: block;
    margin: 0 -20px;
    background-color: $color_2;
}

.page-header {
    padding: 0 20px 40px;
}

.page-title {
    margin-top: 0;
}

.entry-title {
    margin: 0;
    padding-top: 20px;
    font-size: 23px;
    letter-spacing: .04em;
    line-height: 29px;

    > a {
        color: $color_1;
        text-decoration: none;
    }
}

.pagination {
    //margin: 20px auto;
    padding: 20px 0 60px;
}

.nav-links {
    text-align: center;
}

.page-numbers {
    text-decoration: none;
    border: 1px solid $color_1;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: $color_1;
    background: transparent;
    line-height: 1;
    padding: .4em .8em;
    &.current {
        background-color: $color_1;
        color: $color_2;
    }
}

.blog,
.archive,
.search {
    .hentry {
        //padding-top:0;
        margin-bottom: 0;
    }
    .entry-meta {
        margin-top: 20px;
    }
    .format-image {
        .entry-header {
            //padding:4px;
            //background-color: $color_2;
            a {
                display: block;
                //margin: 0 -20px;
                //line-height: 0;
            }
        }
    }
    .format-aside {
        .entry-content {
            padding: 0;
            max-width: initial;
        }
        .aside-content-wrapper {
            background-color: $color_17;
            padding: 20px 40px;
        }
    }
    .format-quote {
        blockquote {
            margin-right: 20px;
            padding-right: 40px;
            &::after {
                content: "\201D";
                font-family: $font_family_main;
                font-size: 100px;
                line-height: 1;
                position: absolute;
                right: -10px;
                bottom: -60px;
                color: $color_5;
                //z-index: -1;
            }
        }
        cite {
            font-family: $font_family_main;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: initial;
            margin-top: 40px;
            display: inline-block;
            a {
                border-bottom: none;
            }
        }
    }
}

.search-no-results {
	.no-results {
        max-width: 720px;
        margin: 0 auto 20px;
        .search-form {
            margin:auto;
        }
    }
    .page-content {
        padding: 40px 20px 80px;
    }
}

.blog,
.archive,
.search {
    .site-main,
    .main-navigation {
        background-color: $color_9;
    }
}

@media (min-width: $md) {
    .blog,
    .archive,
    .search {
        .hentry {
            padding-top:80px;
        }
        
        .site-main {
            padding-top:80px;
        }
        .content-area {
            padding-top: 0;
        }
        .sticky {
            background-color: #fff;
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 10px;

            .entry-title,
            .entry-meta {
                max-width: 420px;
                margin-left: auto;
                margin-right: auto;
            }

            .entry-title {
                text-transform: uppercase;
                margin-top: -30px;
                background-color: transparent;
            }

            .entry-header {
                background-color: $color_9;
                max-width: 960px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 40px;
                display:flex;
                flex-wrap: wrap;
                padding:0;
                margin-bottom:140px;
            }
            .entry-header-wrapper,
            .image-wrapper {
                width:50%;
            }

            .entry-header-wrapper {
                order:1;
            }

            .image-wrapper {
                order:2;
            }
            
            .boyo-intro {
                background-color: $color_2;
                margin-bottom: -100px;
                margin-top: 80px;
                //max-width: 420px;
                padding: 20px;
            }
            .post-thumbnail {
                background-color: $color_2;
                margin-top: -80px;
                padding:20px;
                figure {
                    margin:0;
                }
            }
        }
        .format-image {
            .entry-header {
                //padding:4px;
                //background-color: $color_2;
                a {
                    //display: block;
                    //margin: 0 -20px;
                    //line-height: 0;
                }
            }
        }
    }
}
