/*!
* @package Boyo
*/
@import "variables";
/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-list {
	list-style: none;
	.avatar {
		margin-left: -40px;
		margin-bottom: -16px;
		border-radius: 50%;
	}
	.fn {
		font-size: 13px;
		letter-spacing: 0.07em;
		line-height: 19px;
		margin-left: 4px;
		.url {
			text-decoration: none;
		}
	}
	.says {
		display: none;
	}
	.children {
		margin-left: -20px;
		margin-top: 40px;
		list-style: none;
	}
}

.comment {
	margin-bottom: 40px;
}

.comment-author {
	line-height: 1;
}
.comment-metadata {
	line-height: 1;
	time {
		font-size: 13px;
		letter-spacing: 0.07em;
		line-height: 19px;
	}
	a {
		text-decoration: none;
	}
}
.comment-content {
	font-size: 17px;
	line-height: 27px;
	letter-spacing: 0.04em;
	p {
		margin-bottom: 1em;
	}
}
.comment-reply-link {
	font-weight: 700;
	font-size: 13px;
	line-height: 19px;
	letter-spacing: 0.07em;
	text-decoration: none;
	text-transform: uppercase;
}
.comments-area {
	padding: 0 20px;
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.form-submit {
	text-align: center;
	margin: 40px 0 80px;
}

@media (min-width: $sm) {
	.form-submit {
		text-align: left;
	}
	
	.comments-area {
		max-width: 720px;
		margin: auto;
		padding: 0;
	}	
}

@media (min-width: $md) {

}