/*!
* @package Boyo
*/
@import "variables";
/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comments-area {
	padding: 0 20px;
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.form-submit {
	text-align: center;
	margin: 40px 0 80px;
}

@media (min-width: $sm) {
	.form-submit {
		text-align: left;
	}
	
	.comments-area {
		max-width: 720px;
		margin: auto;
		padding: 0;
	}	
}

@media (min-width: $md) {

}