/*!
* @package Boyo
*/
@import "variables";
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/

.site-main {
 //padding: 0 20px;
}

.sticky {
	display: block;
}

.hentry {
	padding: 40px 0 0;
	//margin: 0 0 1.5em;
	margin-bottom: 80px;
}

.breadcrumbs {
	font-size: .75em;
	margin-top: 40px;
	margin-bottom: 40px;
	letter-spacing: 0.1em;
}

.entry-title,
.previous-article-title,
.next-article-title {
	font-size: 2.5em;
	letter-spacing: -0.04em;
	line-height: 1.2;
	color: $color_1;
}

//.entry-title,
.previous-article,
.next-article,
.boyo-companion-subtitle,
.boyo-themes-subtitle,
.bc-about-us-title,
.bc-about-us-subtitle,
.boyo-themes-list-title,
.boyo-themes-list-subtitle,
.boyo-themes-testimonials-subtitle,
.bc-about-us-cite-content {
	color: $color_14;
    font-family: $font_family_headers;
    letter-spacing: -0.04em;
}

.previous-article,
.next-article,
.boyo-companion-subtitle,
.boyo-themes-subtitle,
.bc-about-us-subtitle,
.boyo-themes-subtitle,
.boyo-themes-list-subtitle,
.boyo-themes-testimonials-subtitle {
	font-size: 25px;
}

.boyo-intro,
.bc-about-us-extra-info-content,
.boyo-docs-quick-settings {
	font-size: 15px;
	letter-spacing: .045em;
	line-height: 27px;
	color: $color_1;
}

.boyo-intro {
	max-width: 420px;
	margin-left: auto;
	margin-right: auto;
}

.published {
	display: none;
}

.updated.published {
	display: inherit;
}

.page-content,
.entry-content,
.entry-summary {
	//margin: 1.5em 0 0;
}

.entry-content,
.entry-footer {
	max-width: 720px;
    margin: auto;
}

.first-letter {
    font-size: 78px;
    float: left;
    line-height: 1;
    margin-right: 5px;
    font-weight: 700;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.nav-previous > a,
.nav-next > a {
	text-decoration: none;
}

.boyo-companion-bullets {
	text-align: center;
}

.boyo-companion-bullet {
	font-size: 24px;
	margin:4px;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	//text-align: left;
}
figcaption {
    padding: 0 10px;
    font-size: 75%;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

.entry-content,
.bc-about-us-description-box {
	a {
		color: $color_1;
		border-bottom: 2px solid;
		padding: 0;
		text-decoration: none;
	}
}

.bc-about-us-subtitle,
.boyo-companion-subtitle,
.boyo-themes-list-subtitle,
.boyo-themes-subtitle,
.boyo-themes-testimonials-subtitle,
.boyo-themes-list-description-wrapper,
//.boyo-themes-changelog-wrapper,
.boyo-themes-featured-list {
	max-width: 720px;
	margin-left: auto;
	margin-right: auto;
}

.boyo-themes-list-description-wrapper {
	padding: 0 20px;
}

.entry-header,
.entry-content {
    //margin-bottom: 20px;
    padding: 0 20px;
}

.home {
    .entry-header,
    .entry-content {
        margin-bottom: 20px;
        //padding: 0 20px;
	}
	.entry-content {
		padding-bottom: 40px;
	}
    .hentry {
        margin: 0;
    }
}

.boyo-themes-list-widget {
    //margin: 0 -20px;
}

.boyo-themes-themes {
    list-style: none;
    margin-bottom:40px;
    padding: 0;
    a {
        text-decoration: none;
        color: $color_1;
    }
}

.boyo-themes-themes-item {
    display: block;
    .boyo-themes-themes-image-wrapper {
        display: block;
        margin-top: 60px;
    }
}

.boyo-themes-themes-title,
.boyo-themes-themes-excerpt {
    padding: 0 20px;
}

.bc-about-us-extra-info-title {
	border-top: 2px solid #000;
	font-weight: 700;
	text-transform: uppercase;
	padding-top: 20px;
}

.bc-about-us-cite-wrapper {
	background-color: $color_10; 
	//position: relative;
	//min-height: 300px;
	padding: 40px 0;
}
.bc-about-us-cite-quote {
	color: $color_5;
	//position: absolute;
	//top:0;
	font-size: 300px;
	line-height: 1;
	//margin-left: -40px;
    padding: 50px 0;
	//z-index: -1;
}
.bc-about-us-cite-content {
	//position: absolute;
	padding: 80px 20px 80px 60px;
	color: $color_1;
	font-size: 40px;
	line-height: 1.2;
	margin: -300px 0 0;
	max-width: 600px;
}

.site-info,
.site-info a {
    color: $color_4;
    font-size: 14px;
    letter-spacing: 0.04em;
}

.site-info {
	//text-align: right;
}

.bc-about-us-description,
.boyo-themes-list-description {
	max-width: 380px;
	margin-left: auto;
    margin-right: auto;
}

.entry-footer {
	padding: 0 20px;
}
.page-template-template-page-about-us {
	.hentry {
		margin-bottom: 0;
	}
}

@media (min-width: $sm) {
	.content-area,
		.entry-header,
		.entry-content {
			padding: 0 20px;
		}
		
    .boyo-companion-subtitle,
	.boyo-themes-list-subtitle,
	.boyo-themes-subtitle,
	.boyo-themes-testimonials-subtitle,
	.bc-about-us-subtitle {
		padding: 0 20px;
	}
	.boyo-themes-themes {
        display: flex;
        flex-wrap: wrap;
    }
    .boyo-themes-themes-item {
        width: 50%;
        padding: 20px;
    }
    .bc-about-us-image-wrapper,
	.bc-about-us-description {
        //max-width: 600px;
        margin-left: auto;
        margin-right: auto;
	}
	
	.entry-content {
		font-size: 1.25rem;
		line-height: 2;
	}
	.page-template-template-page-about-us {
		.boyo-companion-subtitle {
			padding: 0;
			max-width: none;
			margin: 0;
		}
	}
	.bc-about-us-cite-wrapper {
		margin-bottom: 20px;
	}
}

@media (min-width: $md) {
	.bc-about-us-text-wrapper,
	.boyo-themes-list-text-wrapper,
	.boyo-themes-themes,
	.boyo-themes-testimonials,
	.boyo-themes-changelog-wrapper,
	.boyo-themes-featured-list {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
	}
	.boyo-themes-themes-item {
        &:nth-of-type(odd) {
            padding: 20px 20px 20px 0;
        }
        &:nth-of-type(even) {
            padding: 20px 0 20px 20px;
        }
    }

    .bc-about-us-description-box {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        padding: 0 20px;
	}
	
	.bc-about-us-description-box,
	.entry-header,
	.site-info,
	.breadcrumbs,
	.post-thumbnail,
	.bc-about-us-cite {
		max-width:960px;
		margin-left: auto;
        margin-right: auto;
	}

	.page-template-template-page-about-us {
		.entry-content {
			max-width: 960px;
			padding: 0;
		}
		.bc-about-us-extra-info {
			max-width: 320px;
			display: inline-block;
			vertical-align: top;
			padding: 60px 20px 20px;
		}
		.about-us-content {
			display: inline-block;
			margin:0;
			max-width: 580px;
			margin-left: 54px;
			padding: 20px;
		}
		.bc-about-us-cite-quote {
			margin-left: -40px;
		}
		.bc-about-us-cite-content {
			padding: 80px 20px;
		}
	}
}

@media (min-width: $lg) {
    .bc-about-us-image-wrapper {
        //margin-top: -160px;
	}
	
	.bc-about-us-description-box {
        //max-width: 960px;
	}
	
	.entry-header,
	//.site-info,
	.breadcrumbs,
	.post-thumbnail,
	.bc-about-us-text-wrapper,
	.boyo-themes-list-text-wrapper,
	.boyo-themes-themes,
	.boyo-themes-testimonials,
	.boyo-themes-changelog-wrapper,
	.bc-about-us-cite,
	.boyo-themes-featured-list {
        max-width: 1200px;
	}

	.entry-title,
	.bc-about-us-title,
	.boyo-themes-list-title {
		max-width: 50%;
	}

	.page-template-template-page-about-us {
		.entry-content {
			max-width: 1200px;
		}
		.bc-about-us-extra-info {
			max-width: 420px;
		}
		.about-us-content {
			max-width: 720px;
		}
	}
}
