/*!
* @package Boyo
*/
@import "variables";
.home {
    .entry-header,
    .entry-content {
        margin-bottom: 20px;
        padding: 0 20px;
    }
    .hentry {
        margin: 0;
    }
}

.boyo-themes-list-widget {
    margin: 0 -20px;
}

.boyo-themes-themes {
    list-style: none;
    margin-bottom:40px;
    padding: 0;
    a {
        text-decoration: none;
        color: $color_1;
    }
}

.boyo-themes-themes-item {
    display: block;
    //padding: 20px;
    .boyo-themes-themes-image-wrapper {
        //margin: 0 -20px;
        display: block;
    }
}

.boyo-themes-themes-title,
.boyo-themes-themes-excerpt,
.boyo-themes-list-description,
.bc-about-us-text-wrapper {
    padding: 0 20px;
}

@media (min-width: $sm) {
    .boyo-themes-themes {
        display: flex;
    }
    .boyo-themes-themes-item {
        width: 50%;
        padding: 20px;
    }
    .bc-about-us-image-wrapper,
    .bc-about-us-description,
    .boyo-themes-list-description {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    /*.bc-about-us-subtitle,
    .boyo-companion-subtitle,
    .boyo-themes-list-subtitle {
        margin-left: 200px;
    }*/
}

@media (min-width: $md) {
    .boyo-themes-themes-item {
        &:first-of-type {
            padding: 20px 20px 20px 0;
        }
        &:last-of-type {
            padding: 20px 0 20px 20px;
        }
    }

    .bc-about-us-description,
    .bc-about-us-image-wrapper {
        max-width:50%;
        display: inline-block;
    }
    
    .bc-about-us-image-wrapper {
        display: flex;
        align-items: flex-start;
        margin-top: -80px;
        padding:0;
    }

    /*.bc-about-us-text-wrapper {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }*/

    /*.bc-about-us-subtitle,
    .boyo-companion-subtitle,
    .boyo-themes-list-subtitle {
        margin-left: 300px;
    }*/

    .bc-about-us-description-box,
    .boyo-themes-list-description {
        display: flex;
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 20px;
    }
}

@media (min-width: $lg) {
    .bc-about-us-image-wrapper {
        margin-top: -160px;
    }
}
