/*!
* @package Boyo
*/
@import "variables";
.entry-header,
.entry-content,
.post-authors-list-title,
.post-authors-list,
.post-navigation {
    padding: 0 20px;
}

.entry-footer {
    .tag {
        font-size: 12px;
        letter-spacing: 0.2em;
    }
}

.coauthors-list,
.post-authors-list {
    list-style: none;
    margin: 0 0 40px;
}

.coauthors-list {
    padding: 0;
}

.byline {
    .author {
        display:flex;
        align-items: center;
        .url {
            font-size: 13px;
            letter-spacing: 0.07em;
            line-height: 19px;
            margin-left: 10px;
        }
        margin: 0 0 10px;
    }
}

.byline,
.post-authors-list-item {
    .avatar {
        border-radius: 50%;
    }
}

.post-authors-list-item {
    margin-bottom: 20px;
}

.post-authors-list-info {
    display: flex;
    align-items: flex-start;
    .avatar {
        min-width: 64px;
    }
}

.post-authors-list-name {
    padding-left: 20px;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.07em;
    .post-authors-list-bio {
        margin: 0;
    }
    .url {
        margin-bottom: 0;
        margin-top: 10px;
        a {
            text-decoration: none;
        }
    }
}

.boyo-companion-subtitle {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    max-width: none;
}

@media (min-width: $sm) {
    .coauthors-list-item {
        margin-right: 20px;
        display: inline-block;
    }
    
    .post-authors-list {
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: $md) {
    .coauthors-list-item {
        margin-right: 20px;
        display: inline-block;
    }
    
    .post-authors-list-title,
    .post-navigation {
        max-width:960px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .entry-header,
    .entry-content,
    .post-authors-list-title,
    .post-authors-list,
    .post-navigation {
        padding: 0;
    }
    
    .entry-content {
        .alignnone {
            max-width: 960px;
            margin-left: -120px;
            margin-right: -120px;
        }
    }
}

@media (min-width: $lg) {
    .post-authors-list-title,
    .post-navigation {
        max-width:960px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .entry-content {
        .alignnone {
            max-width: 1200px;
            margin-left: -240px;
            margin-right: -240px;
        }
    }

    .entry-header,
    .post-thumbnail {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}
