/*!
* @package Boyo
*/
@import "variables";
.entry-content {
    padding: 0;
}
.boyo-themes-links,
.boyo-themes-testimonials-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.boyo-themes-testimonials {
    padding: 0 20px;
}

.boyo-themes-links-item {
    border-top: solid 1px $color_1;
    font-size: 18px;
    letter-spacing: .045em;
    line-height: 24px;
    padding: 10px 20px;
}

.boyo-themes-theme-details {
    background-color: $color_15;
    font-size: 12px;
    letter-spacing: .32em;
    margin: 0 -20px;
    padding: 40px 20px;
    text-align: center;
}

.boyo-themes-theme-details-version,
.boyo-themes-theme-details-last-updated,
.boyo-themes-theme-details-changelog-url {
    display: block;
    line-height: 27px;
}

.boyo-themes-theme-details-changelog-url {
    a {
        border-bottom: solid 2px $color_1;
        color: $color_1;
        padding-bottom: 0;
        text-decoration: none;
    }
}

.boyo-themes-links-item {
    a {
        color: $color_1;
    text-decoration: none;
    }
}

.boyo-themes-sections {
    background-color: $color_9;
    //padding: 40px 0 0;
    margin: 0 -20px;
}

.boyo-themes-section {
    padding: 20px 20px 0;
}

/*.boyo-themes-section::after {
    border-bottom: solid 1px $color_7;
    content: '';
    width: 100%;
    display: block;
    margin-top:20px;
}*/

.boyo-themes-section-title,
.boyo-themes-section-content {
    margin: 20px;
}

.boyo-themes-section-image {
    margin: 0 -20px;
}
.boyo-themes-changelog {
    padding: 20px 40px;
    background-color: $color_9;
    margin: 0 -20px;
}

.boyo-themes-testimonials-list-item {
    padding-bottom: 20px;
    &:first-of-type {
        padding-top: 20px;
    }
}

.boyo-themes-testimonials-list-item-title,
.boyo-themes-testimonials-list-item-desc {
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 0.045em;
}

.boyo-themes-testimonials-list-item-author {
    font-size: 15px;
}

.boyo-themes-testimonials-list-item-title,
.boyo-themes-testimonials-list-item-author {
    font-weight: 700;
}

.boyo-themes-changelog {
    h3 {
        font-family: $font_family_main;
        font-size: 15px;
        letter-spacing: 0.045em;
        line-height: 27px;
        text-transform: uppercase;
        span {
            display: inline-block;
            font-weight: 700;
            font-size: 13px;
            letter-spacing: 0.07em;
            line-height: 19px;
            padding: 8px 12px;
        }
    }
    ul {
        margin: 0;
    }
}

.boyo-themes-changelog-added {
    background-color: $color_15;
}

.boyo-themes-changelog-changed {
    background-color: $color_2;
}

.boyo-themes-changelog-deprecated {
    background-color: $color_4;
}

.boyo-themes-changelog-removed {
    background-color: $color_2;
}

.boyo-themes-changelog-security {
    background-color: $color_1;
}

.single-theme {
    .hentry {
        margin: 0;
    }
    .entry-header,
    .breadcrumbs {
        padding: 0 20px;
    }

    .entry-content {
        //padding: 0;
        .boyo-intro {
            padding: 0 20px;
        }
    }

    .post-thumbnail {
        margin: 0 -20px;
    }
}

.page-template-template-page-themes {
    .entry-header,
    .boyo-intro,
    .boyo-themes-links-wrapper,
    .boyo-themes-counter-wrapper {
        //background-color: $color_5;
        padding: 20px;
    }
    .main-navigation {
		background-color: $color_5;
    }
    .entry-content,
    .entry-footer,
    .entry-header {
        //max-width:none;
        //background-color: $color_5;
    }
    .hentry {
        background-color: $color_5;
    }
}

.boyo-themes-counter-wrapper {
    overflow: hidden;
    //position: relative;
}

.boyo-themes-counter {
    padding: 60px 0;
    position: absolute;
    top: 0;
    bottom:0;
    left:0;
    right:0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 1;
    transform: rotate(-5deg);
}

.boyo-themes-counter-numbers,
.boyo-themes-counter-text-1,
.boyo-themes-counter-text-2,
.boyo-themes-counter-text-3,
.boyo-themes-counter-text-4 {
    margin: 0 auto;
    max-width: 250px;
    text-align: center;
}

.boyo-themes-counter-numbers,
.boyo-themes-counter-text-2,
.boyo-themes-counter-text-3 {
    font-family: $font_family_headers;
    font-size: 30px;
    font-weight: 700;
}

.boyo-themes-counter-text-1,
.boyo-themes-counter-text-4 {
    font-family: $font_family_main;
}

.boyo-themes-counter-digit {
    display: inline-block;
    padding: 15px 10px;
    background-color: $color_2;
    margin:5px;
    box-shadow: 0 0 10px $color_4;
}

.hexagon {
    margin:auto;
    transform: rotate(5deg);
}

.hexagon,
.hexagon:before,
.hexagon:after {
    height:440px;
    width:254px;
    background: $color_2;
    box-shadow: 0 0 10px rgba(255,255,255,0.8);
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    top:0;
    left:0;
}

.hexagon:before {
    transform: rotate(120deg);
}

.hexagon:after {
    transform: rotate(240deg);
}

.boyo-themes-themes {
    list-style: none;
    //margin:0 0 40px 0;
    margin-bottom: 40px;
    padding: 0;
    a {
        text-decoration: none;
        color: $color_1;
    }
}

.boyo-themes-themes-item {
    display: block;
    padding: 20px;
}

/*
.boyo-themes-themes-item:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 20px;
}
*/

.boyo-themes-featured {
    background-color: $color_9;
    margin: 0 -20px;
}

.boyo-themes-featured-list {
    list-style: none;
    margin:0 0 40px 0;
    padding: 0;
}

.boyo-themes-featured-list-item {
    padding: 20px;
}

.boyo-themes-featured-list-item-title,
.boyo-themes-featured-list-item-desc {
    padding: 0 20px;
}

.boyo-themes-testimonials-title {
    font-size: 40px;
}

.boyo-themes-testimonials-subtitle {
    //font-size: 25px;
    //font-weight: 700;
}

@media (min-width: $sm) {
    .boyo-themes-themes {
        display: flex;
    }
    .boyo-themes-themes-item {
        width: 50%;
        &:first-of-type {
            padding: 20px 20px 20px 0;
        }
        &:last-of-type {
            padding: 20px 0 20px 20px;
        }
    }

    .boyo-themes-featured-list {
        display: flex;
    }
    .boyo-themes-featured-list-item {
        width:33.33%;
        padding: 20px;
        &:first-of-type {
            padding: 20px 20px 20px 0;
        }
        &:last-of-type {
            padding: 20px 0 20px 20px;
        }
    }
    .boyo-themes-testimonials-list {
        //max-width: 520px;
        margin-left: 200px;
        margin-right: 200px;
    }
}

@media (min-width: $md) {
    .boyo-themes-featured-list {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
    .boyo-themes-featured-list-item {
        padding:0;
    }
    .boyo-intro-wrapper {
        width: 50%;
        min-height: 520px;
    }
    .entry-content {
        position:relative;
    }
    .boyo-themes-counter-wrapper {
        position: absolute;
        right: -200px;
        top: 0;
        width: 100%;
    }
    .boyo-themes-links-item {
        max-width: 260px;
    }
    .boyo-themes-testimonials-list {
        margin-left: 300px;
        margin-right: 300px;
        //max-width: 420px;
    }
}
