/*!
* @package Boyo
*/
@import "variables";
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 20px;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

.widget_nav_menu {
    margin: 0;
}

.widget_nav_menu {
    .menu {
        list-style: none;
        margin: 0;
        padding: 0;
    }
} 

.widget_nav_menu {
    .menu-item {
        a {
            color: $color_4;
            font-size: 12px;
            letter-spacing: 0.32em;
            text-decoration: none;
        }
    } 
}

.bottom-widget-area,
.footer-widget-area {
    background-color: $color_11;
    .widget {
        color: $color_4;
        margin: 0;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .widget-title {
        color: #dedede;
    }
}

.bottom-widget-area {
    padding: 20px 20px 0;
    .widget_tag_cloud {
        a {
            color: $color_4;
            text-decoration: none;
            &:hover,
            &:focus,
            &:active {
                color: $color_4;
                text-decoration: underline;
            }
        }
        .tagcloud {
            border-bottom: 1px solid $color_8;
            padding-bottom: 80px;
        }
    }
}

.footer-widget-area {
    padding: 30px 20px 0;
    margin-top: -10px;
}

.bottom-widget-area p,
.footer-widget-area p {
    color: $color_4;
    font-size: 14px;
    letter-spacing: 0.04em;
}

@media (min-width: $sm) {
    .bottom-widget-area {
        padding: 20px 40px 0;
    }
    .footer-widget-area {
        padding: 30px 40px 0;
    }
    .top-widget-area {
        padding:0 20px;
    }
}

@media (min-width: $md) {
    .bottom-widget-area {
        .widget {
            max-width:960px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .footer-widget-area-wrapper {
        max-width:960px;
        margin-left: auto;
        margin-right: auto;
    }
    .footer-widget-area {
        .widget {
            width:33.33%;
            margin:0;
            display: inline-block;
        }
        .widget_custom_html {
            text-align: right;
        }
        
    }
}
