/*!
* @package Boyo
*/
@import "variables";
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 20px;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

.widget_nav_menu {
    margin: 0;
}

.widget_nav_menu {
    .menu {
        list-style: none;
        margin: 0;
        padding: 0;
    }
} 

.widget_nav_menu {
    .menu-item {
        a {
            color: $color_4;
            font-size: 12px;
            letter-spacing: 0.32em;
            text-decoration: none;
        }
    } 
}

.bc-about-us-widget,
.boyo-themes-list-widget {
    background-color: $color_5;
    padding: 80px 20px;
}

.bc-about-us-title,
.boyo-themes-list-title {
    font-size: 48px;
    line-height: 55px;
    margin: 0;
}

.bc-about-us-description,
.boyo-themes-list-description {
    color: $color_14;
    font-size: 15px;
    letter-spacing: 0.045em;
    line-height: 27px;
}

.bc-about-us-image-wrapper {
    margin: 0 -20px;
    padding: 0 20px;
}

.bc-recent-posts-widget-list,
.bc-featured-posts-widget-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.bc-recent-posts-widget-list-item-title,
.bc-featured-posts-widget-list-item-title {
    font-size: 1.125rem;
    line-height: 1.25;
    letter-spacing: -0.06em;
    margin-bottom: 0;
}

.bc-recent-posts-widget-list-item-title,
.bc-featured-posts-widget-list-item-title {
    a {
        color: $color_2;
        text-decoration: none;
        color: $color_12;
    }
}

.boyo-themes-list-text-wrapper {
    padding: 20px;
}

/* Top Widgets */

.top-widget-area,
.boyo-themes-list-description {
    padding:0 20px;
}

/* Bottom Widgets */

.bottom-widget-area,
.footer-widget-area,
.site-footer {
    background-color: $color_11;    
}

.bottom-widget-area {
    padding: 0 40px;
}

.footer-widget-area {
    padding: 30px 40px 0;
    margin-top: -10px;
}

.site-footer {
    padding: 30px 40px 20px;
    //margin-bottom: -20px;
    margin-top: -10px;
}

.bottom-widget-area,
.footer-widget-area {
    .widget {
        color: $color_4;
        margin: 0;
        padding-bottom: 20px;
        padding-top: 20px;
    }
}

.bottom-widget-area {
    .bc-featured-posts-widget-list {
        border-bottom: 1px solid $color_8;
        padding-bottom: 60px;
    }
}

.bottom-widget-area,
.footer-widget-area {
    .widget-title {
        color: #dedede;
    }
}

.bottom-widget-area p,
.footer-widget-area p {
    color: $color_4;
    font-size: 14px;
    letter-spacing: 0.04em;
}

@media (min-width: $sm) {
    .bc-featured-posts-widget-list {
        display: flex;
    }
    .bc-featured-posts-widget-list-item {
        margin: 0 20px;
        width: 33.33%;
    }
    
    .bc-featured-posts-widget-list-item:first-of-type {
        margin-left: 0;
    }
    
    .bc-featured-posts-widget-list-item:last-of-type {
        margin-right: 0;
    }
}

@media (min-width: $md) {
    .bc-featured-posts-widget-list {
        display: flex;
    }
    .bc-featured-posts-widget-list-item {
        margin: 0 20px;
        width: 33.33%;
    }
    
    .bc-featured-posts-widget-list-item:first-of-type {
        margin-left: 0;
    }
    
    .bc-featured-posts-widget-list-item:last-of-type {
        margin-right: 0;
    }
    
    .bottom-widget-area {
        .widget {
            max-width:960px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .footer-widget-area-wrapper {
        max-width:960px;
        margin-left: auto;
        margin-right: auto;
    }
    .footer-widget-area {
        .widget {
            width:33.33%;
            margin:0;
            display: inline-block;
        }
        .widget_custom_html {
            text-align: right;
        }
        
    }
    .bc-about-us-main-image {
        max-width:125%;
    }

	.bc-about-us-text-wrapper {
		padding: 0 20px;
	}
	
    .bc-about-us-description,
    .bc-about-us-image-wrapper {
        width: 50%;
    	//max-width: 420px;
        display: inline-block;
    }

    .bc-about-us-description {
        padding: 0 20px;
    }
    
    .bc-about-us-image-wrapper {
        display: flex;
        align-items: flex-start;
        margin-top: -80px;
        padding:0;
    }
}
